[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Config files for my GitHub profile.
[access "refs/*"]
	owner = group user/rdeshmuk
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rdeshmuk
	label-Verified = -1..+1 group user/rdeshmuk
	push = group user/rdeshmuk
	read = group user/rdeshmuk
	rebase = group user/rdeshmuk
	removeReviewer = group user/rdeshmuk
	submit = group user/rdeshmuk
[access "refs/heads/*"]
	create = group user/rdeshmuk
	push = +force group user/rdeshmuk
	pushMerge = group user/rdeshmuk
	read = group user/rdeshmuk
[access "refs/tags/*"]
	push = group user/rdeshmuk
	push = +force group user/rdeshmuk
